materialidad.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">   
    <xs:element name="empresa_sostenible">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stakeholders">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="stakeholder" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="descripcion" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="nombre" type="xs:string" use="required"/>
                                    <xs:attribute name="importancia" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="temas_materiales">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tema_material" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="descripcion" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="nombre" type="xs:string" use="required"/>
                                    <xs:attribute name="impacto" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>